USE [master]
GO
/****** Object:  Database [COURSEREGISTRATION]    Script Date: 1/2/2025 4:43:52 PM ******/
CREATE DATABASE [COURSEREGISTRATION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COURSEREGISTRATION', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\COURSEREGISTRATION.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COURSEREGISTRATION_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\COURSEREGISTRATION_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COURSEREGISTRATION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COURSEREGISTRATION]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 1/2/2025 4:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [varchar](20) NOT NULL,
	[password] [varchar](20) NOT NULL,
	[studentID] [varchar](10) NULL,
	[role] [varchar](10) NOT NULL,
 CONSTRAINT [PK__ACCOUNT__F3DBC573BEFD4EF2] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 1/2/2025 4:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[classID] [varchar](10) NOT NULL,
	[courseID] [varchar](10) NOT NULL,
	[startDay] [date] NULL,
	[startClass] [int] NULL,
	[Instructor] [nvarchar](50) NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[classID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 1/2/2025 4:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[courseID] [varchar](10) NOT NULL,
	[courseName] [nvarchar](100) NOT NULL,
	[coursePrice] [int] NOT NULL,
	[courseCredit] [int] NOT NULL,
	[courseSize] [int] NOT NULL,
	[major] [varchar](10) NOT NULL,
 CONSTRAINT [PK__COURSE__2AA84FF1D8D0238A] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRATION]    Script Date: 1/2/2025 4:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRATION](
	[registrationID] [int] IDENTITY(1,1) NOT NULL,
	[classID] [varchar](10) NOT NULL,
	[studentID] [varchar](10) NOT NULL,
	[coursepayment] [char](1) NOT NULL,
 CONSTRAINT [PK__REGISTRA__A3DB14154B52192B] PRIMARY KEY CLUSTERED 
(
	[registrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 1/2/2025 4:43:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[studentID] [varchar](10) NOT NULL,
	[studentName] [nvarchar](50) NOT NULL,
	[studentEmail] [varchar](30) NOT NULL,
	[studentPhone] [varchar](10) NOT NULL,
	[major] [nvarchar](30) NOT NULL,
	[avatar] [varchar](max) NULL,
	[majorID] [varchar](10) NOT NULL,
	[discount] [varchar](10) NOT NULL,
	[payment] [int] NOT NULL,
	[debt] [int] NOT NULL,
 CONSTRAINT [PK__STUDENT__4D11D65C3AB90F9F] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([username], [password], [studentID], [role]) VALUES (N'225050123', N'uef', N'225050123', N'user')
INSERT [dbo].[ACCOUNT] ([username], [password], [studentID], [role]) VALUES (N'225050456', N'uef', N'225050456', N'user')
INSERT [dbo].[ACCOUNT] ([username], [password], [studentID], [role]) VALUES (N'225050789', N'uef', N'225050789', N'user')
GO
INSERT [dbo].[CLASS] ([classID], [courseID], [startDay], [startClass], [Instructor]) VALUES (N'A01', N'ACC1133', CAST(N'2025-01-06' AS Date), 2, N'N.T.Tâm')
INSERT [dbo].[CLASS] ([classID], [courseID], [startDay], [startClass], [Instructor]) VALUES (N'B01', N'ITE1214', CAST(N'2025-01-05' AS Date), 1, N'H.V.Hiếu')
INSERT [dbo].[CLASS] ([classID], [courseID], [startDay], [startClass], [Instructor]) VALUES (N'B02', N'ITE1214', CAST(N'2025-01-05' AS Date), 2, N'H.V.Hiếu')
GO
INSERT [dbo].[COURSE] ([courseID], [courseName], [coursePrice], [courseCredit], [courseSize], [major]) VALUES (N'ACC1133', N'Hoạch định nguồn lực doanh nghiệp', 8250000, 3, 42, N'ACC')
INSERT [dbo].[COURSE] ([courseID], [courseName], [coursePrice], [courseCredit], [courseSize], [major]) VALUES (N'COT1109', N'Kịch bản', 4900000, 3, 35, N'MMC')
INSERT [dbo].[COURSE] ([courseID], [courseName], [coursePrice], [courseCredit], [courseSize], [major]) VALUES (N'DAS1124', N'Phân tích dữ liệu ứng dụng', 7350000, 3, 40, N'ITE')
GO
SET IDENTITY_INSERT [dbo].[REGISTRATION] ON 

INSERT [dbo].[REGISTRATION] ([registrationID], [classID], [studentID], [coursepayment]) VALUES (235, N'B03', N'225050123', N'Y')
INSERT [dbo].[REGISTRATION] ([registrationID], [classID], [studentID], [coursepayment]) VALUES (236, N'B02', N'225050123', N'Y')
INSERT [dbo].[REGISTRATION] ([registrationID], [classID], [studentID], [coursepayment]) VALUES (237, N'B05', N'225050123', N'N')
SET IDENTITY_INSERT [dbo].[REGISTRATION] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__COURSE__72E12F1B24A9B3BE]    Script Date: 1/2/2025 4:43:52 PM ******/
ALTER TABLE [dbo].[COURSE] ADD  CONSTRAINT [UQ__COURSE__72E12F1B24A9B3BE] UNIQUE NONCLUSTERED 
(
	[courseName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK__ACCOUNT__student__4D94879B] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENT] ([studentID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK__ACCOUNT__student__4D94879B]
GO
ALTER TABLE [dbo].[CLASS]  WITH CHECK ADD  CONSTRAINT [FK_CLASS_COURSE] FOREIGN KEY([courseID])
REFERENCES [dbo].[COURSE] ([courseID])
GO
ALTER TABLE [dbo].[CLASS] CHECK CONSTRAINT [FK_CLASS_COURSE]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK__REGISTRAT__stude__59063A47] FOREIGN KEY([studentID])
REFERENCES [dbo].[STUDENT] ([studentID])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK__REGISTRAT__stude__59063A47]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_REGISTRATION_CLASS] FOREIGN KEY([classID])
REFERENCES [dbo].[CLASS] ([classID])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_REGISTRATION_CLASS]
GO
USE [master]
GO
